.App {
  text-align: center;
  margin: 0.7em;
}
.header {
  display: flex;
  justify-content: left;
  background-color: goldenrod;
  color: aliceblue;
  font-size: 3em;
  border: 1px solid black;
  padding: 1em;
  border-radius: .2em;
  margin: 0.2em;
}
